<h1>Your list of Ford Mustang GT350's</h1>

<button class="btn btn-success" ng-click="homeComp.update()">UPDATE LIST</button>

<!-- need to have an ng-repeat to display all the cars here -->
<div ng-repeat="car in homeComp.cars">
    <div ng-if="car.archived == false">
        <div class="well" id="{{car.id}}">
            <img ng-src="{{car.pic}}">
            <a href="{{car.url}}" target="_blank">{{car.name}}</a>
            <button class="btn btn-danger" ng-click="homeComp.archive(car.id)">archive</button>
                <p>{{car.dist}}</p>
                <p>Color: {{car.color}}</p>
                <p>Price: {{car.price}}</p>
                <p>Dealer: {{car.dealer}}</p>
                <p>address: {{car.address}}</p>
                <p>phone: {{car.phone}}</p>
                <p>vin: {{car.vin}}</p>
                Show PDF: <input type="checkbox" ng-model="car.showPdf">
                <div class="pdf" ng-show="car.showPdf">
                    <pdf-viewer delegate-handle="my-pdf-container" url="car.pdf" scale="1"></pdf-viewer>
                </div>
                <!-- <embed src="'/> -->

            </div>
        </div>
</div>
